body{
    /* background: rgb(16,117,72); */
    background: linear-gradient(130deg, rgba(16,117,72,1) 15%, rgba(0,255,136,1) 100%);
    background-image: url('../utils/diabeties_webpage.jpg');
    background-size: cover; 
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    
    padding: 20px;
    margin-bottom: 7%;
}
.Title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:200%;
    background-color: rgb(27, 29, 30);
    padding: 30px;
    color: #ebfff1;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -1.9%;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Input_container{
    text-align: center;
    background-color: rgba(200, 238, 255, 0.478);
    padding: 10px;
    box-shadow:10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 4%;
    margin-right: 20%;
    /* margin-bottom: auto; */
    width: 60%;
    height: 80%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.inputName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.input_Age{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.input_Height{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.input_Weight{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.input_BP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.inputPregnancies{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;   
}
.inputGlucose{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;   
}
.inputDBF{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.inputSKT{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.inputInsulin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 4px;
    border-width: 0px;box-shadow:3px 2px 1px rgba(0, 0, 0, 0.5) ;
    width: auto;
    height: auto;
    margin-bottom: 1.5%;
}
.Submit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(27, 27, 27);
    font-size: 27px;
    margin-left: 10%;
    background-color: rgb(53, 53, 53);
    color: rgb(231, 244, 255);
}
.Output{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: rgba(122, 253, 240, 0.29);
    padding: 10px;
    box-shadow:10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 4%;
    margin-right: 20%;
}